<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.lc.domain.Student">
    <result column="STU_ID" jdbcType="VARCHAR" property="stuId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DATE" jdbcType="TIMESTAMP" property="date" />
    <result column="SEX" jdbcType="CHAR" property="sex" />
  </resultMap>
  <select id="getStudentList" parameterType="string" resultMap="BaseResultMap">
    select * from student where STU_ID = #{stuId}
  </select>
</mapper>